<!--dataBlock filter-->
<div class="row" *ngIf="filter.isVisible">
  <div class="col-sm-12">
    <div style="padding: 10px;background-color: #f4f3f4;border-radius: 0.2em;">
      <table>
        <thead>
        <tr>
          <td>&nbsp;</td>
          <td style="text-align: center;">Filter by:</td>
          <td style="text-align: center;">Sort direction</td>
          <td>Order</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let localfilter of filter.filters">
          <td style="text-align: right;">{{ localfilter.title }}:</td>
          <td>
            <p-multiSelect *ngIf="localfilter.type == 'multiSelect'" class="rs-datablockfilter-multiselect" [options]="localfilter.valuesAvailable" [(ngModel)]="localfilter.values" defaultLabel="&nbsp;"></p-multiSelect>

            <input *ngIf="localfilter.type == 'text'" class="rs-datablockfilter-text" [(ngModel)]="localfilter.values" type="text" pInputText/>

            <template [ngIf]="localfilter.type == 'range'">
              <input class="rs-datablockfilter-range" [(ngModel)]="localfilter.valueMin" type="text" pInputText/>
              -
              <input class="rs-datablockfilter-range" [(ngModel)]="localfilter.valueMax" type="text" pInputText/>
            </template>
          </td>
          <td>
            <p-selectButton [options]="filter.defaults.sortDirections" [(ngModel)]="localfilter.sortDirection"></p-selectButton>
          </td>
          <td style="text-align: center;">
            <i onclick="alert('Sorry, this functionality is not implemented yet.')" class="fa fa-arrows" aria-hidden="true"></i>
          </td>
        </tr>
        </tbody>
      </table>
      <button label="Apply filter" (click)="applyFilter(true)" class="rs-smallbutton" type="button" pButton></button>
    </div>
  </div>
</div>


<!--dataBlock pager-->
<div class="row" style="margin-top: 15px;">
  <div class="col-sm-3">
    <div *ngIf="dataBlockIsLoading" class="fa-spinner--wrapper" style="right: 1px;position: absolute;"><i class="fa fa-spinner fa-spin"></i></div>
    <button title="Reload this site dataBlock" (click)="loadDataBlock()" icon="fa fa-refresh" type="button" pButton></button>
    <button title="Show / Hide Filter" (click)="toggleFilterVisible()" icon="fa fa-filter" type="button" pButton></button>
    debugqueries:{{debugqueries}}
  </div>
  <div class="col-sm-9">
    <div style="width: 600px;font-size: 90%;">
      <p-paginator
          [first]="pager.first"
          [rows]="pager.rows"
          [totalRecords]="pager.totalRecords"
          [rowsPerPageOptions]="pager.rowsPerPageOptions"
          [pageLinkSize]="pager.pageLinkSize"
          (onPageChange)="onPaginate($event)"
      ></p-paginator>
    </div>
  </div>
</div>


<!--dataBlock data-->
<div class="row" style="padding-top: 10px;">
  <div class="col-sm-12">
    <div style="background-color: beige">
      <!-- dataBlock: header row -->
      <div class="db-row db-header">
        <div class="db-cell db-cell-from">From</div>
        <div class="db-cell db-cell-tags">Tags</div>
        <div class="db-cell db-cell-req">Req</div>
        <div class="db-cell db-cell-se">SE</div>
        <div class="db-cell db-cell-name">Name</div>
        <div class="db-cell db-cell-buttons">btns</div>
        <div class="db-cell db-cell-zero">---</div>
        <!--<div class="db-cell db-celldata" *ngFor="let enumerateDate of enumerateDates">{{ enumerateDate }}</div>-->
      </div>

      <!-- dataBlock: row -->
      <div *ngFor="let row of dataBlock" class="db-row" [style.height.px]="dataBlockRowHeight + (dataBlockRowHeight * ((row.searchEngine?.length>0?row.searchEngine?.length:1)-1))">
        <app-datablock-row [row]="row"></app-datablock-row>
      </div>
    </div>
  </div>
</div>
