.db-row {
    clear: both;
    font-size: 12px;
    height: 18px;
}
.db-row:hover {
    background-color: #ececec;
}
.db-header {
    font-size: 11px;
    color: #adadad;
}
.db-cell {
    float: left;
    height: 18px;
}
.db-clr {
    clear: left;
}
.db-cell:hover {
    background-color: #cacaca;
}
.db-celldata {
    width: 20px;
    text-align: center;
    font-size: 12px;
    background-color: #e9e9e9;
}
.db-cell-from {
    width: 80px;
    font-size: 11px;
}
.db-cell-tags {
    width: 150px;
}
.db-cell-req {
    width: 30px;
}
.db-cell-se {
    width: 20px;
    color: #adadad;
}
.db-cell-name {
    width: 250px;
}
.db-cell-buttons {
    width: 30px;
}
.db-cell-zero {
    width: 30px;
}