<form name="sitescheduleform" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
  <div class="ui-grid ui-fluid">
    <div class="ui-grid-row">
      <div class="ui-grid-col-6 rs-text-right"><label>Active</label></div>
      <div class="ui-grid-col-1"></div>
      <div class="ui-grid-col-4">
        <p-inputSwitch [(ngModel)]="currentObj.active" name="active" onLabel="On" offLabel="Off"></p-inputSwitch>
      </div>
      <div class="ui-grid-col-1"></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-6 rs-text-right"><label>Interval between site download, hrs:</label></div>
      <div class="ui-grid-col-1"></div>
      <div class="ui-grid-col-4">
        <p-checkbox [(ngModel)]="intervalBetweenSiteDownload_usedefault" (onChange)="onOffDefaults()" label="use default value" binary="true" [ngModelOptions]="{standalone: true}"></p-checkbox>
        <input
            [(ngModel)]="currentObj.intervalBetweenSiteDownload"
            [disabled]="intervalBetweenSiteDownload_usedefault"
            name="intervalBetweenSiteDownload"
            pInputText required/>
      </div>
      <div class="ui-grid-col-1"></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-6 rs-text-right"><label>Interval between page download, sec:</label></div>
      <div class="ui-grid-col-1"></div>
      <div class="ui-grid-col-4">
        <p-checkbox [(ngModel)]="intervalBetweenPageDownload_userobotstxt" (onChange)="onOffDefaults()" label="use from robots.txt" binary="true" [ngModelOptions]="{standalone: true}"></p-checkbox>
        <br>
        <p-checkbox [(ngModel)]="intervalBetweenPageDownload_usedefault" (onChange)="onOffDefaults()" label="use default value" binary="true" [ngModelOptions]="{standalone: true}"></p-checkbox>
        <input
            [(ngModel)]="currentObj.intervalBetweenPageDownload"
            [disabled]="intervalBetweenPageDownload_usedefault || intervalBetweenPageDownload_userobotstxt"
            name="intervalBetweenPageDownload"
            pInputText required/>
      </div>
      <div class="ui-grid-col-1"></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-6 rs-text-right"><label>Max time limit for site download, hrs:</label></div>
      <div class="ui-grid-col-1"></div>
      <div class="ui-grid-col-4">
        <p-checkbox [(ngModel)]="maxTimeLimitForSiteDownload_usedefault" (onChange)="onOffDefaults()" label="use default value" binary="true" [ngModelOptions]="{standalone: true}"></p-checkbox>
        <input
            [(ngModel)]="currentObj.maxTimeLimitForSiteDownload"
            [disabled]="maxTimeLimitForSiteDownload_usedefault"
            name="maxTimeLimitForSiteDownload"
            pInputText required/>
      </div>
      <div class="ui-grid-col-1"></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-6 rs-text-right"><label>Max depth level limit for site download (>=0):</label></div>
      <div class="ui-grid-col-1"></div>
      <div class="ui-grid-col-4">
        <p-checkbox [(ngModel)]="maxDepthLevelLimitForSiteDownload_usedefault" (onChange)="onOffDefaults()" label="use default value" binary="true" [ngModelOptions]="{standalone: true}"></p-checkbox>
        <input
            [(ngModel)]="currentObj.maxDepthLevelLimitForSiteDownload"
            [disabled]="maxDepthLevelLimitForSiteDownload_usedefault"
            name="maxDepthLevelLimitForSiteDownload"
            pInputText required/>
      </div>
      <div class="ui-grid-col-1"></div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-6 rs-text-right"><label>Follow 'nofollow' links</label></div>
      <div class="ui-grid-col-1"></div>
      <div class="ui-grid-col-4">
        <p-inputSwitch [(ngModel)]="currentObj.followNoFollowLinks" name="followNoFollowLinks" onLabel="Yes" offLabel="No"></p-inputSwitch>
      </div>
      <div class="ui-grid-col-1"></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-6 rs-text-right"><label>Check external links for 404</label></div>
      <div class="ui-grid-col-1"></div>
      <div class="ui-grid-col-4">
        <p-inputSwitch [(ngModel)]="currentObj.checkExternalLinksFor404" name="checkExternalLinksFor404" onLabel="Yes" offLabel="No"></p-inputSwitch>
      </div>
      <div class="ui-grid-col-1"></div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-12">
        <div *ngIf="errors" class="alert alert-danger" role="alert">{{ errors }}<br><!--{{ errors?._body }}--></div>
      </div>
    </div>
  </div>
  <footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <div *ngIf="isLoading" class="fa-spinner--wrapper" style="top: 14px;left: -5px;"><i class="fa fa-spinner fa-spin"></i></div>
      <button (click)="save()" [disabled]="isLoading" label="Save" type="button" pButton icon="fa-check"></button>
    </div>
  </footer>
</form>
