<div class="container-fluid" style="min-width: 1020px;">
  <div class="row">
    <div class="col-sm-2">
      pictures
    </div>
    <div class="col-sm-8">
      Site name: {{ site.name }}<br>
      Site namePuny: {{ site.namePuny }}<br>
      Site active: {{ site.active }}<br>
    </div>
    <div class="col-sm-2">
      Achievements
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button [label]="(isDataBlockVisible ? 'Hide' : 'Show') + ' keywords and pages'"
              (click)="toggleDataBlockVisible()" style="width: 100%;padding: 0;" icon="fa " type="button" pButton></button>
    </div>
  </div>
  <div *ngIf="isDataBlockVisible">
    <div class="row" *ngIf="filter.isVisible">
      <div class="col-sm-12">
        <div style="padding: 10px;background-color: #f4f3f4;border-radius: 0.2em;">
          <table>
            <thead>
            <tr>
              <td>&nbsp;</td>
              <td style="text-align: center;">Filter by:</td>
              <td style="text-align: center;">Sort direction</td>
              <td>Order</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let localfilter of filter.filters">
              <td style="text-align: right;">{{ localfilter.title }}:</td>
              <td>
                <p-multiSelect *ngIf="localfilter.type == 'multiSelect'" class="rs-datablockfilter-multiselect" [options]="localfilter.valuesAvailable" [(ngModel)]="localfilter.values" defaultLabel="&nbsp;"></p-multiSelect>

                <input *ngIf="localfilter.type == 'text'" class="rs-datablockfilter-text" [(ngModel)]="localfilter.values" type="text" pInputText/>

                <template [ngIf]="localfilter.type == 'range'">
                  <input class="rs-datablockfilter-range" [(ngModel)]="localfilter.valueMin" type="text" pInputText/>
                  -
                  <input class="rs-datablockfilter-range" [(ngModel)]="localfilter.valueMax" type="text" pInputText/>
                </template>
              </td>
              <td>
                <p-selectButton [options]="filter.defaults.sortDirections" [(ngModel)]="localfilter.sortDirection"></p-selectButton>
              </td>
              <td style="text-align: center;">
                <i onclick="alert('Sorry, this functionality not implemented yet.')" class="fa fa-arrows" aria-hidden="true"></i>
              </td>
            </tr>
            </tbody>
          </table>
          <button label="Apply filter" (click)="applyFilter(true)" class="rs-smallbutton" type="button" pButton></button>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 15px;">
      <div class="col-sm-3">
        <div *ngIf="isDataBlockLoading" class="fa-spinner--wrapper" style="right: 1px;position: absolute;"><i class="fa fa-spinner fa-spin"></i></div>
        <button title="Reload this site dataBlock" (click)="loadDataBlock()" icon="fa fa-refresh" type="button" pButton></button>
        <button title="Show / Hide Filter" (click)="toggleFilterVisible()" icon="fa fa-filter" type="button" pButton></button>
        debugqueries:{{debugqueries}}
      </div>
      <div class="col-sm-9">
        <div style="width: 600px;font-size: 90%;">
          <p-paginator
              [first]="dataBlockPager.first"
              [rows]="dataBlockPager.rows"
              [totalRecords]="dataBlockPager.totalRecords"
              [rowsPerPageOptions]="dataBlockPager.rowsPerPageOptions"
              [pageLinkSize]="dataBlockPager.pageLinkSize"
              (onPageChange)="onPaginate($event)"
          ></p-paginator>
        </div>
      </div>
    </div>
    <div class="row" style="padding-top: 10px;">
      <div class="col-sm-12">
        <div style="background-color: beige">
          <!-- dataBlock: header row -->
          <div class="db-row db-header">
            <div class="db-cell db-cell-from">From</div>
            <div class="db-cell db-cell-tags">Tags</div>
            <div class="db-cell db-cell-req">Req</div>
            <div class="db-cell db-cell-se">SE</div>
            <div class="db-cell db-cell-name">Name</div>
            <div class="db-cell db-cell-buttons">btns</div>
            <div class="db-cell db-cell-zero">---</div>
            <!--<div class="db-cell db-celldata" *ngFor="let enumerateDate of enumerateDates">{{ enumerateDate }}</div>-->
          </div>

          <!-- dataBlock: row -->
          <div *ngFor="let obj of dataBlock" class="db-row" [style.height.px]="dataBlockRowHeight + (dataBlockRowHeight * ((obj.searchEngine?.length>0?obj.searchEngine?.length:1)-1))">
            <div class="db-cell db-cell-from"></div>
            <div class="db-cell db-cell-tags"></div>
            <div class="db-cell db-cell-req"></div>
            <div class="db-cell db-cell-se">{{ obj.searchEngine ? obj.searchEngine[0]?.shortName : '' }}</div>
            <div class="db-cell db-cell-name" [style.padding-left.px]="obj._dataType==0 ? 25 : 0">{{ obj.name }}</div>
            <div class="db-cell db-cell-buttons"></div>
            <div class="db-cell db-cell-zero"></div>
            <!--<div class="db-cell db-celldata" *ngFor="let enumerateDate of enumerateDates">&nbsp;</div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>