<div class="container-fluid" style="background-color: aquamarine;">
  <div class="row">
    <div class="col-xl-2">
      pictures
    </div>
    <div class="col-xl-8">
      Site name: {{ site.name }}<br>
      Site namePuny: {{ site.namePuny }}<br>
      Site active: {{ site.active }}<br>
      some info ...<br>
    </div>
    <div class="col-xl-2">
      Achievements
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <button
          [label]="(isDataBlockVisible ? 'Hide' : 'Show') + ' keywords and pages'"
          (click)="toggleDataBlockVisible()" style="width: 100%;padding: 0;" icon="fa " type="button" pButton></button>
    </div>
  </div>
  <div *ngIf="isDataBlockVisible">
    <div class="row">
      <div class="col-xl-3">
        Keywords: ?, Pages: ?
      </div>
      <div class="col-xl-9">
        <div style="width: 600px;font-size: 90%;">
          <p-paginator
              [first]="viewPager.first"
              [rows]="viewPager.rows"
              [totalRecords]="viewPager.totalRecords"
              [rowsPerPageOptions]="viewPager.rowsPerPageOptions"
              [pageLinkSize]="viewPager.pageLinkSize"
              (onPageChange)="onPaginate($event)"
          ></p-paginator>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12" style="background-color: blanchedalmond;">
        key/pages data ...
      </div>
    </div>
  </div>
</div>