.db-row {
    clear: both;
    font-size: 12px;
}

.db-header {
    font-size: 11px;
    color: #adadad;
}

.db-cell {
    float: left;
    height: 18px;
}

.db-celldata {
    width: 20px;
}

.db-cell-from {
    width: 50px;
}

.db-cell-tags {
    width: 150px;
}

.db-cell-req {
    width: 30px;
}

.db-cell-se {
    width: 20px;
}

.db-cell-name {
    width: 250px;
}

.db-cell-buttons {
    width: 30px;
}

.db-cell-zero {
    width: 30px;
}