<div class="container-fluid">
  <div class="row">
    <div class="col-xl-4">
      <button label="Add site" (click)="showDialogToAddNewSite()" icon="fa fa-plus" type="button" pButton></button>
      <p-tieredMenu #viewsettingsmenu [model]="viewSettingsMenu" [popup]="true"></p-tieredMenu>
      <button label="Settings" (click)="viewsettingsmenu.toggle($event)" icon="fa fa-cog" type="button" pButton></button>
    </div>
    <div class="col-xl-4">
      <div style="width: 440px;">
        <p-paginator
            [rows]="10"
            [totalRecords]="44"
            [rowsPerPageOptions]="[1,5,10,20,50,100]"
            pageLinkSize="5"
            [first]="0"
            (onPageChange)="viewPagerPaginate($event)"
        ></p-paginator>
      </div>
    </div>
    <div class="col-xl-4 rs-text-right">
      From:
      <p-calendar [(ngModel)]="viewDateFrom" dateFormat="yy.mm.dd"></p-calendar>
      &nbsp;To:
      <p-calendar [(ngModel)]="viewDateTo" dateFormat="yy.mm.dd"></p-calendar>
    </div>
  </div>
  <div class="row" style="background-color: #f2f2f2;">
    123
  </div>
</div>