<div class="container-fluid">
  <div class="row">
    <div class="col-xl-4">
      <button label="Add site" (click)="showDialogToAddNewSite()" icon="fa fa-plus" type="button" pButton></button>
      <p-tieredMenu #viewsettingsmenu [model]="viewSettingsMenu" [popup]="true"></p-tieredMenu>
      <button label="Settings" (click)="viewsettingsmenu.toggle($event)" icon="fa fa-cog" type="button" pButton></button>
    </div>
    <div class="col-xl-4">
      <div style="width: 440px;font-size: 90%;">
        <p-paginator
            [first]="viewPager.first"
            [rows]="viewPager.rows"
            [totalRecords]="viewPager.totalRecords"
            [rowsPerPageOptions]="viewPager.rowsPerPageOptions"
            [pageLinkSize]="viewPager.pageLinkSize"
            (onPageChange)="onPaginate($event)"
        ></p-paginator>
      </div>
    </div>
    <div class="col-xl-4 rs-text-right">
      From:
      <p-calendar [(ngModel)]="viewDateFrom" dateFormat="yy.mm.dd"></p-calendar>
      &nbsp;To:
      <p-calendar [(ngModel)]="viewDateTo" dateFormat="yy.mm.dd"></p-calendar>
    </div>
  </div>
  <div class="row" style="background-color: #f2f2f2;">
    <p-dataTable
        [value]="objs"
        [lazy]="true"
        [rows]="10"
        [paginator]="true"
        [totalRecords]="100"
        (onLazyLoad)="loadCarsLazy($event)"
    >
      <header>List of Cars</header>
      <p-column field="vin" header="Vin"></p-column>
      <p-column field="year" header="Year"></p-column>
      <p-column field="brand" header="Brand"></p-column>
      <p-column field="color" header="Color"></p-column>
    </p-dataTable>
  </div>
</div>